{% extends 'baseB.html.twig' %}

{# {% block title %}Utilisateurs{% endblock %}

{% block header %}Gestion des utilisateurs{% endblock %}

{% block body %}
    <h2>Liste des utilisateurs</h2>
    <table>
        <tr><th>ID</th><th>Nom</th><th>Email</th><th>Actions</th></tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                {# <td>
                    <a href="{{ path('admin_user_edit', { id: user.id }) }}">Modifier</a>
                    <a href="{{ path('admin_user_delete', { id: user.id }) }}">Supprimer</a>
                </td> #}
            </tr>
        {% endfor %}
    </table>
{% endblock %} #}
