<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Admin Dashboard | Korsat X Parmaga</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="{{asset('back/css/style.css')}}">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <img src="{{asset('back/imgs/logo1.png')}}" alt="" width="127" height="100">
                        </span>
                       
                    </a>
                </li>

                <li>
                    <a href="{{path('admin_home')}}">
                        <span class="icon">
                            <img src="{{asset('back/imgs/home.png')}}" alt="Icon" width="32" height="32">
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="{{path('admin_users')}}">
                        <span class="icon">
                            <img src="{{asset('back/imgs/utilisateur.png')}}" alt="Icon" width="32" height="32">
                        </span>
                       
                        <span class="title">Gestion Utilisateurs</span>
                    </a>
                </li>

                <li>
                    <a href="{{path('admin_forum')}}">
                        <span class="icon">
                            <img src="{{asset('back/imgs/forum.png')}}" alt="Icon" width="32" height="32">

                        </span>
                        <span class="title">Forum</span>
                    </a>
                </li>

                <li>
                    <a href="{{path('admin_donations')}}">
                        <span class="icon">
                            <img src="{{asset('back/imgs/don.png')}}" alt="Icon" width="32" height="32">

                        </span>
                        <span class="title">Dons</span>
                    </a>
                </li>
                <li>
                    <a href="{{path('admin_beneficiaries')}}">
                        <span class="icon">
                            <img src="{{asset('back/imgs/beneficiare.png')}}" alt="Icon" width="32" height="32">
                        </span>
                        <span class="title">Bénéficiaires</span>
                    </a>
                </li>

                <li>
                    <a href="{{path('admin_workshops')}}">
                        <span class="icon">
                            <img src="{{asset('back/imgs/atelier.png')}}" alt="Icon" width="32" height="32">

                        </span>
                        <span class="title">Ateliers</span>
                    </a>
                </li>

                <li>
                    <a href="{{path('admin_gallery')}}">
                        <span class="icon">
                            <img src="{{asset('back/imgs/gallery.png')}}" alt="Icon" width="32" height="32">
                        </span>
                        <span class="title">Gallerie</span>
                    </a>
                </li>

                {# <li>
                    <a href="{{path('admin_forum')}}">
                        <span class="icon">
                            <img src="{{asset('back/imgs/logout.png')}}" alt="Icon" width="32" height="32">
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li> #}
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <div class="user">
                    <img src="{{asset('back/imgs/customer01.jpg')}}" alt="">
                </div>
            </div>

            <!-- ======================= Cards ================== -->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">1,504</div>
                        <div class="cardName">Likes</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="eye-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">80</div>
                        <div class="cardName">Ventes</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="cart-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">284</div>
                        <div class="cardName">Comments</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">$7,842</div>
                        <div class="cardName">Revenus</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Commandes</h2>
                        <a href="#" class="btn">View All</a>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>Nom</td>
                                <td>Prix</td>
                                <td>Statut</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Star Refrigerator</td>
                                <td>$1200</td>
                                <td><span class="status delivered">Delivered</span></td>
                            </tr>

                            <tr>
                                <td>Dell Laptop</td>
                                <td>$110</td>
                                <td><span class="status pending">Pending</span></td>
                            </tr>

                            <tr>
                                <td>Apple Watch</td>
                                <td>$1200</td>
                                <td><span class="status return">Return</span></td>
                            </tr>

                            <tr>
                                <td>Addidas Shoes</td>
                                <td>$620</td>
                                <td><span class="status inProgress">In Progress</span></td>
                            </tr>

                            <tr>
                                <td>Star Refrigerator</td>
                                <td>$1200</td>
                                <td><span class="status delivered">Delivered</span></td>
                            </tr>

                            <tr>
                                <td>Dell Laptop</td>
                                <td>$110</td>
                                <td><span class="status pending">Pending</span></td>
                            </tr>

                            <tr>
                                <td>Apple Watch</td>
                                <td>$1200</td>
                                <td><span class="status return">Return</span></td>
                            </tr>

                            <tr>
                                <td>Addidas Shoes</td>
                                <td>$620</td>
                                <td><span class="status inProgress">In Progress</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="{{asset('back/js/main.js')}}"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>